// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-tmpv {
	&_thumbnail-grid {
		padding: 3px;

		border-radius: calc(var(--bs-br) - 2px);

		gap: 5px;

		line-height: 0 !important;
	}

	&_main-monitor {
		width: 100%;
		height: var(--cnt-usz);

		padding-left: var(--bld-hp);
		padding-right: var(--bld-hp);

		box-sizing: border-box;

		line-height: 1.8em;
		background-color: var(--mo-bg);
		color: var(--mo-fg);

		border-radius: var(--bld-br);
	}
	
	&_item {
		box-sizing: border-box;

		&.is-active {
			border: solid 1px white;
		}
	}

	&_button {
		cursor: pointer;

		transition: opacity 0.1s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}

	&_monitor {
		color: var(--in-fg);

		line-height: 1em;

		white-space: nowrap;

		overflow: hidden;

		text-overflow: ellipsis;
	}
}
