// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-tmpv {
	&_thumbnail-grid {
		display: flex;
		flex-direction: column;

		padding: 3px;

		border-radius: calc(var(--bs-br) - 2px);

		gap: 5px;

		line-height: 0 !important;
	}

	&_main-monitor {
		width: 100%;
		height: var(--cnt-usz);

		padding-left: var(--bld-hp);
		padding-right: var(--bld-hp);

		box-sizing: border-box;

		line-height: 1.8em;
		white-space: nowrap;
		
		background-color: var(--mo-bg);
		color: var(--mo-fg);

		border-radius: var(--bld-br);
	}

	&_grid-container {
		display: grid;
		grid-template-rows: auto;

		overflow: scroll;

		row-gap: 3px;
		column-gap: 3px;
	}
	
	&_item {
		position: relative;
		width: 100%;

		box-sizing: border-box;

		&.is-active {
			border: solid 1px white;
		}
	}

	&_item__button {
		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;
		height: 100%;

		cursor: pointer;

		transition: opacity 0.1s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}

	&_item__monitor {
		position: absolute;
		left: 0;
		bottom: 3px;

		width: 100%;
		padding: 5px;

		box-sizing: border-box;

		overflow: hidden;

		color: var(--in-fg);
		line-height: 1em;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&_item__image {
		width: 100%;
		height: auto;
	}
}
